/* Styles.css for Tea Rooms */


body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

#headerArea {
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    border-width: flex;
}

#topLogo {
    align-items: flex-start;
    padding-left: 10px;
    height: 50px;
}

li {
    list-style: none;
    text-decoration: underline;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
}

#mission {
    background-image: url("images/mission-background.jpg");
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}


#missionText {
    background-color: black;
    width: 100%;
    height: 125px;
}

/* Tea of the month */
#teaMonth {
    padding-top: 60px;
    width: 1000px;
    margin: auto;



    /* Add images below here using flexbox to arrange them
    in the same div possibly with a nested ID */
}

.monthTeaPics {
    width: 300px;
    height: 200px;
}

figcaption {
    display: inline;
}

figcaption.caption {
    position: relative;
    top: -20px;
}

#gridTeaPics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
}

#locations {
    width: 1200px;
    height: 600px;
    margin: auto;
    background-image: url("images/locations-background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.locationBoxAddress {
    width: 300px;
    height: 300px;
    background-color: black;
    opacity: 1;
    padding: 10px;
    margin: 5px 20px;
}

#address {
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: center;
}

footer {
    text-align: left;
    margin-left: 20px;
}